
{% extends "layout.html" %}

{% block body %}
  <h1>It's Candy Mountain, Charlie!</h1>

  <p>
  This is a simple display of some data extraced from buildbot's api on trigger
  </p>

  <table>
      <thead>
          <tr>
              <th>taskname</th>
              <th>item</th>
              <th>item_type</th>
              <th>time_triggered</th>
              <th>slavename</th>
              <th>buildername</th>
              <th>task_revision</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.taskname }}</td>
                <td>{{ record.item }}</td>
                <td>{{ record.item_type }}</td>
                <td>{{ record.time_triggered }}</td>
                <td>{{ record.slavename }}</td>
                <td>{{ record.buildername }}</td>
                <td>{{ record.task_revision }}</td>
            </tr>
            {% else %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
  </table>
{% endblock %}
